/* 
.inventory-details{
    font-weight: bold;
    font-size: 1.8em;
    width: 40%;
    background-color:#f1f1f1;
    border-radius:4px;
    margin: 40px auto;
    margin-left: 30px;
    padding:20px;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5  );
}

.inventory-details h6{
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: var(--primary); 
}

.inventory-details p{
    margin:0;
    font-size: 0.9rem;
    color: #555;
}


.inventory-details span{
    position:absolute;
    top: 20px;
    right:20px;
    cursor:pointer;
    background:#f1f1f1;
    padding:6px;
    border-radius:50%;
    color:#333;
} */
