header{
    background: #fff;
}


header.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #333;
    text-decoration: none;
}

