



.inventory-container {
    font-size: 30px; 
}

.inventory-container h2,
.inventory-container h3,
.inventory-container h4 {
    font-size: 30px; 
}

.inventory-container button {
    padding: 10px 20px;
    font-size: 20px; 
    border: none;
    border-radius: 5px;
    background-color: #ce9cdf; 
    color: white; 
    transition: background-color 0.3s; 
    cursor: pointer; 
}

.inventory-container button:hover {
    background-color: #ce9cdf; 
}



.inventory-container button.main-tab {
    margin-right: 20px;
    font-size: 20px;
}

.inventory-container button.main-tab:hover {
    background-color: #bb74e8; 
    cursor: pointer;
}

.inventory-container button:hover {
    background-color: #bb74e8; 
    cursor: pointer;
}
