.cctv-vertification{
    padding:10px;
}

.cctv-mainvideo{
    width: 80%;
    margin-left:10%;
}

.cctv-container h4{
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 5px;
}

.cctvpage-maindiv{
    display: flex;
    flex-direction: row;
}

.cctvpage-maindiv form{
    width: 40%;
}
.cctvpage-maindiv label{
    width: 100%;
    text-align:left ;
    padding:10px;
    padding-bottom: 0px;
}

