.childinterface-navbarall{
    background-color: #F8BDEB;
    padding-left: 100px;
    font-size: 1.3rem;
    position: fixed;
    z-index: 999;
    width: 100%;
}


.childinterface-navigationbarhome{
    position:relative;
    left: 800px;
}