.paymentDetails-container{
    /* padding: 4px; */
    margin-top: 7%;
    
}
.paymentDetails-container header{
    background-color: black;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    margin: 5px;
    color: white;
    letter-spacing: 0.4rem;
    border-radius:30px;
}

.paymentDetails-input-field{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.1em;
    letter-spacing: 0.1rem;
}

.paymentDetails-input-field input{
    background-color: #ccc;
    border-radius: 20px;
    font-weight: none;
    color: #363636;
}
.paymentDetails-input-field select{
    margin-left: 2px;
    border-radius: 20px;
    /* font-size: 1.0rem; */
    background-color: #ccc;
}

.paymentDetails-button{
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    border-radius: 30px;
    color:white;
    background-color: green;
    letter-spacing: 0.2rem;
    transition: ease-out 0.8s;
}

.paymentDetails-button:hover{
    background-color: rgb(31, 166, 31);
}


/* ####################PAYMENT PAGE MAIN CSS */
.PaymentPage-section{
    padding: 2%;
    margin-top: 5%;
}

/* radio button */
/* .paymentPage-fieldset label{
    width: 20%;
    display:inline-block;   
} */
.paymentPage-span{
    font-size: 1.01rem;
    letter-spacing: 0.2rem;
    color: green;
    margin-left: 30%;
    font-weight: bold;
    text-decoration: underline;
    line-height: 3rem;
}




/* ########  Card details ######### */
.cardDetails-maindiv{
    border-radius: 20px;
    border:2px solid #201e1e;
    margin: 20px;
    width:80%;
    padding: 10px;
}
.cardDetails-maindiv button{
    background: transparent ;
    color: black;
    position: relative;
    left:90%;
    border:transparent;
}

.cardDetails-maindiv button:hover{
    color:blueviolet;
}




/* #######cardupdateform css */
.cardUpdateform-container{
    width: 100%;
    border-radius:40px;
    padding-top: 10px;
}

.cardUpdateform-container h4{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 0.2rem;
    padding:5px;
    font-size: 1.1rem;
    text-decoration:none;
    width: 60%;
    border-radius:20px;
    margin-left:20%;
}

.cardUpdateform-container fieldset{
   box-shadow: #ccc;
    margin-top: 30px;
    font-size: 1.0rem;
}

fieldset {
    border: 1px solid #d4d4d4;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 10%;
    width: 80%;
  }


.cardUpdateform-input-div{
    display: flex;
}

.cardUpdateform-input-div input {
    margin-bottom: 15px;
    border-radius: 9px;
    font-size: 1em;
    width: 100%;
    background-color: #ccc;
    border: none;
    border-bottom: 1px solid #f9a3a3;
  }

.cardUpdateform-input-div label {
    margin-right: 25px;
    margin-top: 5px;
    font-size: 1rem;
    width: 100%;
    padding: 8px;
    text-align: left;
    font-weight: bold;
  }

  .cardUpdateform-icon{
    margin-left: 5px;
    color: black;
    border-right: none;
    text-align: center;
    border-radius: 9px;
    
  }

.cardUpdateForm-button{
    margin-left:40%;
}




/* Payment table */

.paymenttable-container{
    width:90%;
    margin-left:5%;
}

.paymenttable-container table th{
    text-align: center;
    color:white;
    background-color: rgb(53, 51, 51);
    letter-spacing: 0.2rem;
}

.paymenttable-container table td{
    text-align:center;
}
.paymenttable-container button{
    border:none;
}

.paymenttable-container button:hover{
    background-color: #F8BDEB;
}     


.payment-table-total{
    /* background-color: #ccc; */
    background-color: #F8BDEB ;
    padding: 8px;
    width: 40%;
    border-radius: 5px;
    /* border: 2px double black; */
    text-align: center;
    margin-left:25%;
    margin-top:5%;
    color: white;
    letter-spacing: 0.2rem;

}

.payment-table-total span{
    font-weight: bold;
}