.child-nav-sidebar-col{
    padding-top: 7%;
    width: 20%;
    margin-top: 3%;
    background: url('../../Images/LogSign/lo.jpg') center center/cover no-repeat;
    /* height: 2500px; */
    /* min-height: calc(100vh - 600px); */
     position: fixed;
     overflow-y: auto;
}

.child-nav-sidebar-row{
    padding: 20px;
}

.child-sidebar-button{
    width: 100%;
    background-color: rgb(58, 57, 57);
    border: none;
    /* padding: 5px; */
    border-radius: 30px;
    text-align: left;
    color: white;
    font-size: 1.2rem;

}

.child-sidebar-button:hover{
    background-color: purple;
}

.child-nav-sidebar-icons{
    padding: 5px;
}

.child-sidebar-button span{
    font-size: 1.2rem;
}

.child-nav-sidebar-col2{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20%;
    margin-top: 5%;
    background-color: rgb(247, 237, 247);
    /* background: url('../../Images/Home/background.jpg') center center/cover no-repeat; */
    /* background: url('../../Images/LogSign/purple2.jpg') center center/cover no-repeat; */
    /* background: url('../../Images/LogSign/login.jpg') center center/cover no-repeat; */
    /* background: url('../../Images/Home/12.jpg') center center/cover no-repeat; */
    
}



.childenrollment-edit-button{
    background-color: transparent;
    border:none;
}

.child-nav-sidebar-logo{
    width: 150px;
    height: 150px;
    margin-left: 60px;

}
