
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .headerr {
    font-size: 30px; 
    padding: 20px 0;
    text-align: left;
    margin-top: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  select, input[type="text"] {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #c399d7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #b387c7;
    transform: scale(1.05);
  }
  
  .report-output {
    margin-top: 20px;
    background-color: #efefef;
    padding: 20px;
    border-radius: 5px;
  }

  select option {
    font-size: 18px;  
}

  