
.registrationform-container {
    padding: 40px;
    width: 60%;
    margin: 20px auto;
    background-color: #f1f1f1;
    border-radius: 9px;
    border-color: #d4d4d4;
  }

.registrationform-container header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #f1f1f1;
    padding:5px;
  }

  .registrationform-fieldset {
    border: 1px solid #d4d4d4;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 0.8rem;
  }

  .input-field {
    display: flex;
    margin-bottom: 15px;
    border-radius: 9px;
    font-size: 1.2em;
  }

  label {
    margin-right: 25px;
    margin-top: 5px;
    width: 30%;
    text-align: right;
    /* font-weight: bold; */
  }

  .registrationform-icon{
    margin-top: 9px;
    margin-right: 2px;
    background:#e2e2e2;
    color: black;
    min-width: 35px;
    border: 2px solid #e2e2e2;
    border-right: none;
    text-align: center;
    padding: 7px;
    border-radius: 9px;
    
  }

  .inputs {
    padding: 3px 10px;
    border: 2px solid #e2e2e2;  
    width: 70%;
  }

 