body{
margin: 0px;
padding: 0px;
font-family: 'Ubuntu', sans-serif;
}


/* ######################################################## NAVIGATION BAR MAIN IMAGE ############################# */
.navbarall{
    width: 100%;
    background-color: #F8BDEB;
    /* width: 1542px; */
    padding: 1.6rem ;
    font-size: 1.2rem;
    position: fixed;
    /* font-family: 'AR One Sans', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Ubuntu', sans-serif;
    min-height: max-content;
    z-index: 1000;
  }

.navbar-links{
  padding-left: 40px;
}

.navigationbarhome{
  color:dimgray;
}

.mainnav-logout button{
  background: none;
  border:none;
  padding:4px;
  cursor:pointer;
}

.mainnav-logout button:hover{
  text-decoration: underline;
}


.links{
  text-decoration: none;
  color:dimgray;
  padding: 5px;
}

.navigationbarhome{
  position: relative;
  left: 400px;
}


.main_image{
  padding-top: 8px;
  margin-top: 6.2rem;
  width: 1542px;
  
}



  



 







  .mainimg{
    object-fit: cover;
    height: 40rem;
    width: 100%;
    max-width: 50rem;
    
    display: flex;
    justify-content:flex-start;
    padding:5%;
    margin: 2% 5% 5% 0.5%;
    padding-right: 0px;
  }
  
  .maintitle{
    display: flex;
    flex-wrap: wrap;
   font-family: 'Caveat', cursive; 
    font-size: 7.0rem;
   margin-top: 10%;
  }



  .mainimagebutterfly{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 86%;
    
  }

  .main_image{
    background-color: #F8BDEB ;
  }



  


  /* laptop large 1440px */
  @media(max-width:1440px){
    .mainimg{
      height:auto;
      max-width: 100%;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:6.0rem;
      text-align: left;
    }
    .mainimagebutterfly{
      /* display:none; */
      height: auto;
      width: 60px;
    }
    .navigationbarhome{
      position: relative;
      left: 600px;
    }
   
  }


/* laptop 1025px */
  @media(max-width:1024px){
    .mainimg{
      height:auto;
      max-width: 100%;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:4.0rem;
    }
    .mainimagebutterfly{
      /* display:none; */
      height: auto;
      width: 60px;
    }
    .navigationbarhome{
      position: relative;
      left: 300px;
    }
  }

 /* tablet view */
 @media(max-width:768px){
  .mainimg{
    height:auto;
    max-width: 100%;
    margin: 2%;
  }
  .maintitle{
    /* font for smaller size screens */
    font-size: 3.2rem !important;
    padding:none;
  }
  .mainimagebutterfly{
    width: 60px;
    height: auto;
  }
  .navigationbarhome{
    position: relative;
    left: 28px;
  }
}

  /*  */
  @media(max-width:500px){
    .mainimg{
      height:auto;
      max-width: 100%;
      text-align: center;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:1.5rem;
      text-align: center;
      padding: 0px;
      margin:0px;
    }
    .mainimagebutterfly{
      display:none;
    }
    .navigationbarhome{
      position: relative;
      /* left: 28px; */
    }
   
  
  }

  /* mobile view */
  @media(max-width:320px){
    .mainimg{
      height:auto;
      max-width: 100%;
      text-align: center;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:1.5rem;
      text-align: center;
      padding: 0px;
      margin:0px;
    }
    .mainimagebutterfly{
      display:none;
    }
  }

/* ########################   Welcome  */
.welcome{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color:#999393;
  border-radius: 10px;
  font-size:1.2rem;
  line-height:1.5;
  margin: 50px auto;
  width: 80%;
  padding: 2%;

 
}

.welcome header{
  font-size:1.5rem;
  font-weight: bold;
  color:#940B92
}

.welcome p{
  margin-top: 10px;
}

.welcome footer{
  margin-top:20px;
  font-weight: bold;
  
}






  /* ####################################### HOME CARDS ############################################### */

  /* main div */
  .category-cards{
    width: 90%;
    margin-left: 10%;
  }

 
  .categorycol{
   position: relative;
   margin: 2% 3%;
   /* min-height: max-content; */
   border: 0.2rem solid black;
   border-radius:30px;
   height: 400px;
   

  }

  .categorycol-01{
    background-color: rgb(249, 164, 164);
  }
  
  .categorycol-02{
    background-color: rgb(160, 244, 160);
  }
  
  .categorycol-03{
    background-color: rgb(247, 247, 178);
  }
  
  .categoryimg{
    width: 60%;
    height: auto;
    border-radius: 100px;
    margin-left:20%;
    margin-top: 10%;
  }

  .category-content span{
    text-align: center;
    margin-top:30px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .category-content-button{
    margin-left:28%;
  }


  /* ################################ FEATURES CARDS ###################### */


    .featurecolumn h3{
      font-family: 'Merriweather', serif;
      font-size: 1.5rem;
      position: relative;
      top: 3%;
      
    }
    
    .featurecolumn p{
      font-family: 'Merriweather', serif;
      font-size: 0.8rem;
      font-style: italic;
      position: relative;
      top: 3%;

    }
    .icons{
      min-height: 4.5rem;
      color:#F8BDEB;
      
    }
    
    .icons :hover{
      color: #940B92;
    }
    

    /* ############################ TEAM COMPONENT #################### */


  .teamcards{
    width: 90%;
    margin-left: 5%;
    padding: 3%;
    min-height: fit-content;
    text-align: center;
    /* background-color: #F8BDEB; */
    
  }

  .teamcontainer{
    padding: 20px;
  }

  .teamcontainer h3{
    font-size: 2.5rem;
  }
  .teamcontainer h6{
    font-size:1.2rem;
  }

  .teamrow{
    padding: 10px;
  }

  .teamcolumn{
    background-color: rgb(244, 213, 238);
    border: 2px solid black;
    margin: 10px;
    margin-left: 60px;
    width: 25%;
    display: grid;
    border-radius: 30px;
  }

  .team-share{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 10px;
    font-size: 1.3rem;
    padding-top:5px;
  
  }


  .team-image {
      width: 6.8em;
      height: 6.8em;
      background: white;
      border-radius: 25%;
      margin: 20px auto;
    }

.teamcards h6{
  margin-top: 1rem;
}
.teamcolumn span{
  font-weight: bold;
  color: #383737;
  margin: 15px;
  font-size:1.2rem;
}




    




  
  /* feauture componenet */
  .featurescard{
    margin: 100px;
  
  }
  .featurecolumn {
    position: relative;
    text-align: center;
   
  }
  .featurecolumn h3{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .icons{
    font-size: 3rem;
    margin: 10px;
    color:#F8BDEB;
  }
  
  .icons :hover{
    color: #940B92;
  }
  


/* ################################################## Visiting list*/
.waiting-list-container{
  background-color: #f7d9d7;
  /* padding: 3%; */
  border-radius: 20px;
  height: 500px;
  margin-top: 15px;
  margin-bottom:50px;
}



.waiting-list-img{
  width: 98%;
  height: 510px;
  /* height: auto; */
  padding-bottom: 15px;
  border-radius: 5px;
  
}


.waiting-list-col2 h2{
  text-align: center;
  position: relative;
  top: 0px;
  font-weight: bold;
}

.waiting-list-col2 label{
  font-weight: bold;
  font-size: 1rem;
  margin: 2px;
}

.waiting-list-col2 input{
  width: 90%;
  margin: 5px;
  border-bottom: 2px solid gray;
  padding: 10px 0;
  background:transparent;
  

  &::placeholder{
    color: ash;
    opacity: 60%;
    padding: 8px;
  }
  &:focus{
    color:black;
    opacity: 60%;
    padding: 8px;
  }
}




.common-button{
  border:none;
  padding: 15px 70px;
  border-radius:8px;
  display: block;
  margin:auto;
  margin-top:20px;
  background-color: #653d84;
  color:#fff;
  font-weight:bold;
  
}
.common-button:hover{
  background:#F8BDEB;
  
}



/* ######################### FOOTER COMPONENT##################### */
/*Footer Component*/
  
  /* Footer Styles */

  .footer {
    background-color: #473747;
    padding: 10px;
  }
  
  .footer_upper {
    padding: 1rem 4rem;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 1.6;
    color: #ece3e3;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer_links {
    padding: 20px;
    border-radius: 8px;
    
  }
  
  .footer_links h5,
  .footer_links h4 {
    color: #F8BDEB;
    
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer_links a {
    color: #a89f9f;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer_links a:hover {
    text-decoration: none; 
    color: #806464; 
  }
  
  .footer_links h5:hover {
    text-decoration: none; 
    color: #806464; 
  }
  
  
  
  .footer_links .contact {
    color: #a89f9f; 
    font-size: 16px; 
    margin-bottom: 10px;
    display: flex;
    align-items: center;
   
    
  }
  
  .footer_links .contact p {
    margin-left: 10px; /* Add some space between the icon and text */
  }
  .socialmedia a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
  
  .socialmedia a:last-child {
    margin-right: 0;
  }
  
  .socialmedia svg {
    width: 30px;
    height: 30px;
    fill: #d496bf;
  }
  
  .footer_links .socialmedia {
    display: flex;
    justify-content: center;
  }
  
  .footer_below {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .footer_below_links {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .footer_below_links a {
    text-decoration: none;
    display: block;
    margin-right: 10px; /* Add some space between the links */
    color: #a89f9f;
  }
  
  .footer_below_links a:last-child {
    margin-right: 0;
  }
  
  .footer_below_links p:hover {
  
    text-decoration: none; 
    color: #806464; 
   
  }
  
  
  .footer_copyright p {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
    text-align: left; /* Align the copyright text to the left */
  }
  
  hr {
    border: 2px solid white; /* Change the color of the hr */
    width: 100%;
  }
  
  /* Additional styling for address and telephone */
  .footer_links p {
    font-size: 16px;
    color: #a89f9f;
    text-align: center;
  }
  
  .footer_links p:last-child {
    margin-bottom: 0;
  }
  

  /* caurasal */
  .carousel{
    margin: 100px;
    padding: 20px;
    color: black;
  }
  
  .carouselimage{
    width: 100%;
    height: 500px;
    border-radius:20px;
    opacity: 0.9;
    
  }

  .carousel h3{
    color: black;
  }
  
  .carousel p{
    color: black;
    margin-top:10px;
  }
  .carouselimage-small{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    padding: 10px;
  }
  .carousel-content{
    margin-top: 10px;
  }
  




      
    











  
  