body{
margin: 0px;
padding: 0px;
font-family: 'Ubuntu', sans-serif;
}


/* ######################### NAVIGATION BAR MAIN IMAGE ############################# ##############*/
.navbarall{
    width: 100%;
    background-color: #F8BDEB;
    padding: 1.6rem ;
    font-size: 1.2rem;
    position: fixed;
    /* font-family: 'AR One Sans', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Ubuntu', sans-serif;
    /* min-height: max-content; */
    z-index: 1000;
    top:0;
    left:0;
    display: inline-block;
  }

.navbar-links{
  padding-left: 60px;
  width: 1200px;
}

.navbarall-afteruser{
  display: flex;
  flex-direction: row;
}

.navigationbarhome{
  color:dimgray;
}

.navigationbarhome-logout{
  position: relative;
  right: 200px;
  display: flex;
}
.navigationbarhome-logout span{
  padding-top: 30px;
}



/* .mainnav-logout button{
  background: none;
  border:none;
  padding:4px;
  cursor:pointer;
} */

/* .mainnav-logout button:hover{
  text-decoration: underline;
} */


.links{
  text-decoration: none;
  color:dimgray;
  padding: 5px;
}

.main_image{
  padding-top: 2rem;
  margin-top: 6.0rem;
  max-width: fit-content;
}

  .mainimg{
    object-fit: cover;
    height: 40rem;
    width: 100%;
    max-width: 50rem;
    
    display: flex;
    justify-content:flex-start;
    padding:5%;
    margin: 2% 5% 5% 0.5%;
    padding-right: 0px;
  }
  
  /* main tilte ToddelrTown */
  .maintitle{
    display: flex;
    flex-wrap: wrap;
   font-family: 'Caveat', cursive; 
    font-size: 7.0rem;
   margin-top: 10%;
  }
/* butterfly image css */
  .mainimagebutterfly{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 86%;
    
  }

  .main_image{
    background-color: #F8BDEB ;
  }


  /* laptop large 1440px */
  @media(max-width:1440px){
    .mainimg{
      height:auto;
      max-width: 100%;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:6.0rem;
      text-align: left;
    }
    .mainimagebutterfly{
      /* display:none; */
      height: auto;
      width: 60px;
    }
    .navigationbarhome{
      position: relative;
      left: 600px;
    }
   
  }


/* laptop 1025px */
  @media(max-width:1024px){
    .mainimg{
      height:auto;
      max-width: 100%;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:4.0rem;
    }
    .mainimagebutterfly{
      /* display:none; */
      height: auto;
      width: 60px;
    }
    .navigationbarhome{
      position: relative;
      left: 300px;
    }
  }

 /* tablet view */
 @media(max-width:768px){
  .mainimg{
    height:auto;
    max-width: 100%;
    margin: 2%;
  }
  .maintitle{
    /* font for smaller size screens */
    font-size: 3.2rem !important;
    padding:none;
  }
  .mainimagebutterfly{
    width: 60px;
    height: auto;
  }
  .navigationbarhome{
    position: relative;
    left: 28px;
  }
}

  /*  */
  @media(max-width:500px){
    .mainimg{
      height:auto;
      max-width: 100%;
      text-align: center;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:1.5rem;
      text-align: center;
      padding: 0px;
      margin:0px;
    }
    .mainimagebutterfly{
      display:none;
    }
    .navigationbarhome{
      position: relative;
      /* left: 28px; */
    }
   
  
  }

  /* mobile view */
  @media(max-width:320px){
    .mainimg{
      height:auto;
      max-width: 100%;
      text-align: center;
      margin: 0px;
    }
    .maintitle{
      /* font for smaller size screens */
      font-size:1.5rem;
      text-align: center;
      padding: 0px;
      margin:0px;
    }
    .mainimagebutterfly{
      display:none;
    }
  }

/* ########################   Welcome ######################################### */
.welcome{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color:#999393;
  border-radius: 10px;
  font-size:1.2rem;
  line-height:1.5;
  margin: 50px auto;
  width: 80%;
  padding: 2%;
}

.welcome header{
  font-size:1.5rem;
  font-weight: bold;
  color:#940B92
}

.welcome p{
  margin-top: 10px;
}

.welcome footer{
  margin-top:20px;
  font-weight: bold;
}

/* ############################  Why Us     ###################################################### */
 
 .us-image{
  border-radius: 100px;
  width:220px;
  height:220px;
}

.us-component{
  margin:20px;
}

.us-component header{
  color:#6D2932;
  padding:20px;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 1.2rem;
}

.us-component span{
text-align: center;
font-size: 1.8rem;
letter-spacing: 2px;
display: flex;
margin-top: 45px;
color:#3C0753;
}

.us-component span:hover{
  color: #D63484;
}

.col12{
background-color: #FFB996;
border-radius: 15px;
}

.col14{
background-color: #92C7CF;
border-radius: 15px;
}

.col16{
background-color: #BFD8AF;
border-radius: 15px;
}

.col21{
background-color: #FFCF81;
border-radius: 15px;
}

.col23{
background-color: #FDFFAB;
border-radius: 15px;
}

.col25{
background-color: #DC8686;
border-radius: 15px;
}

.col32{
background-color: #D0BFFF;
border-radius: 15px;
}
.col34{
background-color: #D7E5CA;
border-radius: 15px;
}

.col36{
background-color: #FFD9B7;
border-radius: 15px;
}



  /* ########################## SERVICES CARD ############################################### */

  /* main div */
  .category-cards h3{
    margin-top: 100px;
    color:#6D2932;
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: 1.2rem;
  }
  .category-cards{
    margin-left: 10%;
  }

  .categorycol{
    width:20%;
   position: relative;
   margin: 10px;
   margin-top:5%;
   border: 0.2rem solid black;
   border-radius:30px;
   height: 400px;
  }

  .categorycol-01{
    background-color: #FF8080;
  }
  
  .categorycol-02{
    background-color: #DCFFB7;
  }
  
  .categorycol-03{
    background-color: #FFFC9B;
  }
  
  .categoryimg{
    width: 80%;
    height: auto;
    border-radius: 100px;
    margin-left:10%;
    margin-top: 10%;
  }

  .category-content span{
    text-align: center;
    margin-top:50px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #7E6363;
  }
  
  .category-content-button{
    margin-top:4%;
    margin-left:20%;
  }


  .category-visit-image{
    margin-top:28%;
    padding-right: 40px;
    width: 100%;
    height: 80%;
  }

  /* ################################ FEATURES CARDS ###################### */


    .featurecolumn h3{
      font-family: 'Merriweather', serif;
      font-size: 1.5rem;
      position: relative;
      top: 4px;
      text-align: center;
      
    }
    
    .featurecolumn p{
      font-family: 'Merriweather', serif;
      font-size: 0.8rem;
      font-style: italic;
      position: relative;
      top: 2px;
      text-align: center;
      /* margin-top: 8%; */
      margin-bottom:30%;
      /* padding: 20%; */
    }
    .features-icons{
      min-height: 4.5rem;
      color:#F8BDEB;
      text-align: center;
      margin-left:40%;
      font-size: 4rem;
      margin-bottom: 10%;
    }
    
    .features-icons:hover{
      color: #940B92;
    }
    

    /* ############################ TEAM COMPONENT #################### */


  .teamcards{
    width: 90%;
    margin-left: 5%;
    padding: 3%;
    min-height: fit-content;
    text-align: center;
    padding: 20px;
    
  }


  .teamcontainer h3{
    font-size: 3rem;
    color: #ccc;
    letter-spacing: 1.5rem;
  }
  .teamcontainer h6{
    font-size:1.2rem;
    letter-spacing: 0.8rem;
  }

  .teamrow{
    padding: 10px;
    margin-bottom: 10%;
  }

  .teamcolumn{
    background-color: rgb(244, 213, 238);
    border: 2px solid black;
    margin: 10px;
    margin-left: 60px;
    width: 25%;
    display: grid;
    border-radius: 30px;
  }

.teamcolumn span{
  color: #7E6363;
  letter-spacing: 0.3rem;
}

.teamcolumn p{
  color: #A87C7C;
  letter-spacing: 0.3rem;
}


  .team-share{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 10px;
    font-size: 1.3rem;
    padding-top:5px;
  
  }

  .team-icons{
    padding: 2px;
    cursor: pointer;
    color:#555454;
  }
  .team-icons:hover{
    transform: scale(1.5);
  }

  .team-image {
      width: 6.8em;
      height: 6.8em;
      background: white;
      border-radius: 25%;
      margin: 20px auto;
    }

.teamcards h6{
  margin-top: 1rem;
  letter-spacing: 2rem;
}
.teamcolumn span{
  font-weight: bold;
  color: #383737;
  margin: 15px;
  font-size:1.2rem;
}

.team-component-count-name-count{
  font-size: 9.0rem;
  display: flex;
  flex-direction: column;
  margin-top:10px;
  color:#F8BDEB;
}

.team-component-count-name{
  font-size:4.0rem;
  color:#980678;
}


  
/* ################################################## Visiting list*/
.waitinglist-topic h3{
  text-align: center;
  font-size: 3rem;
  color: #6D2932;
  letter-spacing: 1.5rem;
  margin-top: 5%;
  margin-bottom: 50px;
}

.waiting-list-container{
  background-color: #f7d9d7;
  /* padding: 3%; */
  border-radius: 20px;
  height: 500px;
  /* margin-top: 10%; */
  margin-bottom:50px;
}



.waiting-list-img{
  width: 98%;
  height: 510px;
  /* height: auto; */
  padding-bottom: 15px;
  border-radius: 5px;
  
}


.waiting-list-col2 h2{
  text-align: center;
  position: relative;
  top: 0px;
  font-weight: bold;
  margin-bottom: 50px;
}

.waiting-list-col2 label{
  font-weight: bold;
  font-size: 1rem;
  text-align: left ;
  margin: 2px;
}

.waiting-list-col2 input{
  width: 90%;
  margin: 5px;
  border-bottom: 2px solid gray;
  padding: 10px 0;
  background:transparent;
  

  &::placeholder{
    color: ash;
    opacity: 60%;
    padding: 8px;
  }
  &:focus{
    color:black;
    opacity: 60%;
    padding: 8px;
  }
}




/* .common-button{
  border:none;
  padding: 15px 70px;
  border-radius:8px;
  display: block;
  margin:auto;
  margin-top:20px;
  background-color: #653d84;
  color:#fff;
  font-weight:bold;
  
}
.common-button:hover{
  background:#F8BDEB;
  
} */



/* ######################### FOOTER COMPONENT##################### */
/*Footer Component*/
  
  /* Footer Styles */

  .footer {
    background-color: #473747;
    padding: 10px;
  }
  
  .footer_upper {
    padding: 1rem 4rem;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 1.6;
    color: #ece3e3;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer_links {
    padding: 20px;
    border-radius: 8px;
    
  }
  
  .footer_links h5,
  .footer_links h4 {
    color: #F8BDEB;
    
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer_links a {
    color: #a89f9f;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer_links a:hover {
    text-decoration: none; 
    color: #806464; 
  }
  
  .footer_links h5:hover {
    text-decoration: none; 
    color: #806464; 
  }
  
  
  
  .footer_links .contact {
    color: #a89f9f; 
    font-size: 16px; 
    margin-bottom: 10px;
    display: flex;
    align-items: center;
   
    
  }
  
  .footer_links .contact p {
    margin-left: 10px; /* Add some space between the icon and text */
  }
  .socialmedia a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
  
  .socialmedia a:last-child {
    margin-right: 0;
  }
  
  .socialmedia svg {
    width: 30px;
    height: 30px;
    fill: #d496bf;
  }
  
  .footer_links .socialmedia {
    display: flex;
    justify-content: center;
  }
  
  .footer_below {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .footer_below_links {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .footer_below_links a {
    text-decoration: none;
    display: block;
    margin-right: 10px; /* Add some space between the links */
    color: #a89f9f;
  }
  
  .footer_below_links a:last-child {
    margin-right: 0;
  }
  
  .footer_below_links p:hover {
  
    text-decoration: none; 
    color: #806464; 
   
  }
  
  
  .footer_copyright p {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
    text-align: left; /* Align the copyright text to the left */
  }
  
  hr {
    border: 2px solid white; /* Change the color of the hr */
    width: 100%;
  }
  
  /* Additional styling for address and telephone */
  .footer_links p {
    font-size: 16px;
    color: #a89f9f;
    text-align: center;
  }
  
  .footer_links p:last-child {
    margin-bottom: 0;
  }
  

  /* ######################### caurasal ############### */
  .carousel{
    /* margin: 100px; */
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    color: black;
  }
  
  .carouselimage{
    width: 100%;
    height: 500px;
    border-radius:20px;
    opacity: 0.9;
    
  }

  .carousel h3{
    color: black;
  }
  
  .carousel p{
    color: black;
    margin-top:10px;
  }
  .carouselimage-small{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    padding: 10px;
    position: relative;
    bottom: 50px;
  }
  .carousel-content{
    /* margin-top: 5px; */
    position: relative;
    bottom: 10px;
  }

.carousel-content-news{
 font-weight: bold;
  font-size: 4rem;
  position: relative;
  bottom: 30px;
  letter-spacing: 0.5rem;
  color: rgb(122, 116, 116);
  
}

.carousel-content-news-button{
  padding: 20px 50px;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  border-radius: 100px;
  position: relative;
  bottom:20px;
  border:none;

}


 

      
    











  
  