.maindiv{
    padding: 2.5rem;;
    background-color:#F8BDEB;
    
    
}

.maindiv h1 {
    font-family: 'Merriweather', serif;
    text-align: center;   
    padding: 0.2%;
    margin: 0.5%;
    margin-bottom: 1%;
    padding-bottom: 2rem;
    font-weight: bold;
}
.maindiv h2{
    font-family: 'AR One Sans', sans-serif;
    font-weight:bold;
    text-align: center;
    
}

.MainContainer{
    background-color:#ebbbb1 ;
    padding: 5%;
    padding-top: 2rem;
    border-radius: 8rem;
    
}
.loginimage{
    width: 100%;
}

.allform {
   
    border: 1rem solid #8897d1 ;
    width: 100%;
    font-weight: bold ;
    
}

.allform :active{
    background-color: #8897d1;
}
.loginform{
    border: 1rem solid #8897d1 ;
    width: 100%;
    margin-top: 0;
    padding-bottom: 6rem;
    font-weight: bold ;
   
}
.loginsubmit{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 2.5rem;
}