.minifooter{
    width:100%;
    background-color: #F8BDEB;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    text-align: center;
}

.minifootericons{
    padding: 5rem;
    font-size: 2rem;
    
   
}