.signinmaindiv{
    padding: 5%;
    background-color:#F8BDEB ;
    text-align: center;
}

.signincontainer{
    padding: 2%;
    background-color: #b3afe9;
    border-radius: 3rem;
    
}

.signincontainer h1{
    padding: 1rem;
    font-family: 'Merriweather', serif;;
    font-weight: bold;
}
.signincontainer h2{
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
    padding: 1%;;
}
.signupimage{
    width: 100%;
   
}

.allform {
   
    border: 1rem solid #8897d1 ;
    width: 100%;
    font-weight: bold ;
    
}
0 
.allform :active{
    background-color: #8897d1;
}
.loginform{
    border: 1rem solid #8897d1 ;
    width: 100%;
    margin-top: 0;
    padding-bottom: 6rem;
    font-weight: bold ;
   
}
.loginsubmit{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 2.5rem;
}